.btn{
    &,&:link,&:visited{
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem; 
        text-transform:uppercase;
        position: relative;
        transition: all .4s;
        animation: moveInBottom 0.6s ease-out 0.4s;
        animation-fill-mode: backwards;

        border: none;
    }
    &:hover{
        
        transform: translateY(-0.3rem);
        box-shadow: 0rem 2rem 1rem rgba($black, 0.2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active{
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0rem 1rem 0.5rem rgba($black, 0.2);
    }
    
    &--white{
        background-color:$white;
        color: $grey;
        &::after{
            background-color: $white;
        }
        
    }
    &--blue{
        background-image: linear-gradient(
            to right bottom,
            rgba($black, 0.8),
            rgba($blue-right, 0.8));
        color: $white;
        &::after{
            background-image: linear-gradient(
                to right bottom,
                rgba($black, 0.8),
                rgba($blue-right, 0.8));
        }
        
    }
    
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 10rem;
        z-index: -1;
        transition: all .4s;
    } 
}
.btn-text{
&:link,&:visited{
    @include gradient-text;
    text-decoration: none;
    display: inline-block;
    font-size: $font-size-default;
    transition: all .2s;
    padding: 1.2rem;
    
    }
    &:hover{
        
        background-image: linear-gradient(to left,$black,$blue-right);
        border-radius: 5rem;
        transform: translateY(-0.3rem);
        box-shadow: 0rem 2rem 1rem rgba($black, 0.2);;
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($black, .15);
        transform: translateY(-0.1rem);
    }
}
